# Lein
/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port

# CLJS
/out
/.repl

# Vim
*.swp
*.swo
*.un~
Session.vim
.netrwhist
*~

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
.nrepl-port

# Emacs Org-mode
.org-id-locations
*_archive